[submodule "visualizer/diff-gaussian-rasterization"]
	path = visualizer/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "visualizer/simple-knn"]
	path = visualizer/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
